/* ==========================================================================
    Columns:
========================================================================== */
@media screen and (max-width: 960px) and (max-width: 1259px) {

    .col-3,
    .col-4,
    .col-6,
    .col-9 {
        width: 100%;
        padding: .5rem;
    }
}

@media screen and (min-width: 1261px) and (max-width: 1680px) {
    .col-9 {
        width: calc(100% - 40%);
        padding: .5rem;
    }

    .col-6 {
        width: calc(100% / 2);
        padding: .5rem;
    }

    .col-4,
    .col-3 {
        width: calc(100% / 3);
        padding: .5rem;
    }
}

@media screen and (min-width: 961px) and (max-width: 1260px) {
    .col-9,
    .col-6,
    .col-4,
    .col-3 {
        width: calc(100% / 2);
        padding: .5rem;
    }
}

@media screen and (min-width: 960px) and (min-width: 1679px) {
    .col-9 {
        width: calc(100% - 40%);
        padding: .5rem;
    }

    .col-6 {
        width: calc(100% / 2);
        padding: .5rem;
    }

    .col-4 {
        width: calc(100% / 3);
        padding: .5rem;
    }

    .col-3 {
        width: calc(100% / 4);
        padding: .5rem;
    }
}