@import "styles/variables";
@import "styles/mixins";

/* ==========================================================================
   Scrollbar:
   ========================================================================== */
@import "elements/scrollbar";

/* ==========================================================================
   Button to TOP:
========================================================================== */
@import "elements/btntotop";

@import "elements/discord_widget";

/* ==========================================================================
   Styles:
   ========================================================================== */
@import "styles/styles";

/* ==========================================================================
   Columns:
   ========================================================================== */
@import "styles/columns";

/* ==========================================================================
   Navbar:
   ========================================================================== */
@import "elements/navbar";

@import "pages/auth";

/* ==========================================================================
   Accueil:
   ========================================================================== */
@import "pages/home";

@import "pages/posts";

/* ==========================================================================
   À propos:
   ========================================================================== */
@import "pages/a-propos";

/* ==========================================================================
   PROJETS:
   ========================================================================== */
@import "pages/projects";

/* ==========================================================================
   Contact:
   ========================================================================== */
@import "pages/contact";

/* ==========================================================================
   Mentions légales:
   ========================================================================== */
@import "pages/mentions-legales";

/* ==========================================================================
   Errors:
   ========================================================================== */
@import "pages/errors";

/* ==========================================================================
   Footer:
   ========================================================================== */
@import "elements/footer";